* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: url(images/sunset-7133867_1280.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #60ed08;
    font-size: 2.5em;
    text-shadow: 3px 2px 4px, -3px -2px 4px;
    font-style: italic;
}

h1::first-letter {
    font-size: 1.5em;
    color: rgb(0, 255, 242);
    font-style: italic;
}

.login-page {
    backdrop-filter: blur(5px);
    border: solid rgb(184, 240, 247);
    border-radius: 40px;
    padding: 20px;
    background: transparent;
}

.user-form .div-name,
.user-form .div-password {
    text-align: center;
    border: solid #fff;
    border-radius: 15px;
    background-color: aliceblue;
    margin-bottom: 30px;
    font-size: 1.3em;
}

.user-form input {
    border: solid;
    padding: 5px;
    border-radius: 10px;

}

.user-form .div-forget-password {
    color: rgb(237, 42, 42);
    text-align: start;
    margin-bottom: 30px;
}

.user-form p{
    font-size: 1.2em;
    font-weight: bold;
}

.user-form a {
    padding: 5px;
    font-size: 1;
    text-decoration: none;
    margin-left: 50px;
    border: solid #000;
    border-radius: 20px;
    color: #fff;
}

.user-form .create-account {
    padding: 20px;
    color: #fff;
}

.user-form .button-login {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.user-form .button-login:hover {
    background-color: #b5bdc5;
}

.user-form .button-login:active {
    background-color: #b3b5b7;   
}

.user-form a:hover {
    text-decoration: underline;
    font-size: 1.1em;
}

@media(max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .user-form .div-name,
    .user-form .div-password {
        font-size: 1em;
    }
}

@media(max-width: 550px) {
    .login-page {
        margin: 40px;
    }

    .div-forget-password p, 
    .create-account p{
        text-align: center;
    }

    .div-forget-password a,
    .create-account a {
        display: inline-block;
        margin: auto;
        margin-top: 10px;
    }
}

@media(max-width: 500px) {
    .div-name input,
    .div-password input{
        display: block;
        margin: auto;
        margin-top: 10px;
    }
}