* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: url(images/sunset-7133867_1280.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #60ed08;
    font-size: 2.5em;
    text-shadow: 3px 2px 4px, -3px -2px 4px;
    font-style: italic;
}

h1::first-letter {
    font-size: 1.5em;
    color: rgb(0, 255, 242);
    font-style: italic;
}

.login-page {
    backdrop-filter: blur(5px);
    border: solid rgb(184, 240, 247);
    border-radius: 40px;
    padding: 20px;
    background: transparent;
}

.user-form .div-name{
    text-align: center;
    border: solid #fff;
    border-radius: 15px;
    background-color: aliceblue;
    height: 35px;
    margin-bottom: 30px;
    font-size: 1.3em;
}

.user-form .div-password {
    text-align: center;
    border: solid #fff;
    border-radius: 15px;
    background-color: aliceblue;
    font-size: 1.3em;
    height: 35px;
    margin-bottom: 30px;
}

.user-form input {
    border: solid;
    padding: 5px;
    border-radius: 10px;

}

.user-form .div-forget-password {
    color: rgb(237, 42, 42);
    text-align: start;
    margin-bottom: 30px;
}

.user-form p{
    font-size: 1.2em;
    font-weight: bold;
}

.user-form a {
    padding: 5px;
    font-size: 1;
    text-decoration: none;
    margin-left: 50px;
    border: solid #000;
    border-radius: 20px;
    color: #fff;
}

.user-form .create-account {
    padding: 20px;
}

.user-form .create-account p {
    color: #ffffff;
}

.user-form .button-login {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.user-form .button-login:hover {
    background-color: #b5bdc5;
}

.user-form a:hover {
    text-decoration: underline;
    font-size: 1.1em;
}